* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #252526;
  display: block;
  margin:auto;
}

h1, h2 {
  color: gainsboro;
}

p.tag{
  color: lightgray;
  font-size: 16px;
  text-align: left;
  margin-inline: 4px;
}

h1.bigtitle {
  width:100%;
  height:0%;
  font-style: bold;
  font-size: 69px;
  font-size: 4vw;
  margin:auto;
}

a {
  color: #00B7FF;
}

input {
  margin: 1px;
}

div.row {
  display:inline-flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 2px;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 4px;
  margin-top:3px;
  overflow: hidden;
  text-align: center;
  align-content: center;
  justify-content: center;
}

div.row input, div.buttons button{
  margin-inline: 4px;
  padding: 7px;
  border: none;
}

div.row input, div.row select {
  background-color: #505050;
  font-size: 17px;
  color: white;
  width:100%;
  height:40px;
  text-align: left;
}


div.row input#big-search-bar {
  height:60px;
}

div.filters-item {
  padding: 4px;
  align-self: center;
  flex-grow: 1;
  width: fit-content;
  vertical-align:middle;
  margin-inline: 4px;
}

::placeholder {
  color: lightgray;
  opacity: 1;
}

div.buttons button {
  width:100%;
  float:center;
  text-align: center;
  justify-self: center;
  font-size: 19px;
  height:50px;
  background-color:#335588;
  color:white;
}

div.buttons button#reset {
  background-color:#883333;
}

div.title-container, div.container {
  width: 90%;
  margin:auto;
  padding: 20px;
}

div.title-container {
  text-align: center;
}

div.container {
  border:solid;
  border-color: ghostwhite;
  margin:auto;
  display:block;
  height: fit-content;
}

div.search-results-container{
  overflow: visible;
  display:inline-flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;;
}

div.item-container{
  border:solid whitesmoke;
  width: 350px;
  margin: 4px;
  padding: 2px;
  text-align: center;
}

table.item-stats{
  table-layout: fixed;
  width:100%
}

span.numbers {
  font-weight: normal;
}

h2.item-name {

}

p.category, p.other-stats, p.lore{
  padding-inline:5px;
  text-align: left;
}


p.category, p.other-stats{
  font-weight: bold;
}

p.category {
  font-size: 19px;
}

p.other-stats{
  color: lightgray;
}

p.lore{
  text-align: left;
  font-style:italic;
  color: #CCCCCC
}

.mythic {
  color:#bc3edb;
}
.fabled, .fire {
  color:tomato;
}

.legendary, .water {
  color:cyan;
}

.rare{
  color:hotpink;
}

.unique, .thunder{
  color:gold;
}

.set{
  color:lightgreen;
}

.common, .air{
  color:whitesmoke;
}

.earth{
  color:green;
}

.neutral{
  color:goldenrod;
}

td{
  padding-inline:5px;
  vertical-align: middle;
  overflow:hidden;
  font-weight: bold;
}

td.left{
  color:whitesmoke;
  text-align: left;
}

td.center {
  text-align: center;
  width:69%;
}

td.right {
  text-align: right;
  float:right;
}

td.positive{
  color:lightgreen
}

td.negative{
  color:#ff3e3e
}

td.idname{
  color:lightgray;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
}